### OmniRom Cancro SEPolicy
allow mpdecision sysfs_thermal:file { write open read };
allow mpdecision system_data_file:dir add_name;
allow mpdecision system_data_file:file create;
